.editable-wrapper {
	display: block;
}

.editable-actions {
	margin-bottom: 10px;
	margin-top: 5px;
}

.editable-actions span {
	background-color: lightgray;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	margin: 0 3px 3px 0;
	text-align: center;
}

.editable-actions span svg {
	height: 21px;
	padding: 4px;
	vertical-align: top;
}

.editable-editor {
	border: 1px dashed #aaa;
	box-sizing: border-box;
	cursor: text;
	display: block;
	font-weight: 400;
	min-height: 100px;
	margin-bottom: 10px;
	outline: none;
	padding: 5px;
	width: 100%;
	word-break: break-word;
}

.editable-editor:focus {
	border-color: #333;
}

.editable-editor:empty:before {
	color: #757575;
	content: attr(placeholder);
	display: block;
	font-size: 14px;
	font-weight: 400;
}

.editable-editor p {
	margin: 0;
}

.editable-source {
	border: 1px dashed #aaa;
	box-sizing: border-box;
	display: block;
	margin-bottom: 10px;
	max-width: 100%;
	min-height: 100px;
	outline: none;
	width: 100%;
}

.editable-source:focus {
	border-color: #333;
}
